
.card-list > li {
    list-style: none;
    min-width: 300px;
    display: flex;
}


.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    margin: 0;
    grid-gap: 1rem;
}

@media (max-width: 1000px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .card-list {
        grid-template-columns: 1fr;
    }
}

