


.card-list > li {
    list-style: none;
    min-width: 300px;
    display: flex;
    transition: transform .5s ease-in-out;
}

.card-list > li:hover {
    transform: scale(1.08); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    margin: 0;
    grid-gap: 2rem;
}



@media (max-width: 1000px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .card-list {
        grid-template-columns: 1fr;
    }
}

