.App {
  display: block;
  overflow: auto;
  min-height: 100vh;
  height: 100%;
  background-color: #455a64;
}

.mainTitle {
  color: white;
  text-align: center;
  margin: 20px 0 0 0;
  display: inline;
  padding-right: 1vh;
  vertical-align: bottom;
font: {
  weight: bold;
  size: 5vh;
}
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.titleWrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@media (max-width: 900px) {
  .mainTitle {
    font-size: 2.8rem;
  }
}

@media (max-width: 700px) {
  .mainTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 700px) {
  .mainTitle {
    font-size: 2rem;
  }
}
