div.App {
  display: block;
  overflow: auto;
  min-height: 100vh;
  background-color: #455a64;
}

.main-title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 5vh;
  margin: 20px 0 0 0;
  display: inline;
  padding-right: 1vh;
  vertical-align: bottom;
}

.title-wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
